:root{
  --color:#00aeff;
  --shadow: 0px 1px 5px 0px grey;
  --radius: 7px;
  user-select: none;
  user-zoom: none;
}

img{
  -webkit-user-drag: none;
}

::-webkit-scrollbar{
  background-color: aliceblue;
  width:5px
}

::-webkit-scrollbar:hover{
  width: 30px;
}

::-webkit-scrollbar-thumb{
  border-radius: 7px;
  background-color: var(--color);
}


input{
  width:200px;
  height: 25px;
  border-radius: 7px;
  text-align: center;
  border: 1px solid var(--color);
}

input:focus{
  outline-color: var(--color);
}


.btn{
  cursor:pointer;
  border-radius: 7px;
  height: 24px;
  background-color: aliceblue;
  border: 1px solid grey;
  box-shadow: 0px 1px 5px 0px rgb(230, 230, 230);
}

.btn:hover{
  transition: 0.5s;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;

}

.btn:active{
   box-shadow: inset 0px 1px 5px rgb(184, 184, 184);
}

.btn-block{
  display: block;
  width:100%;
  border:none;
}

.error-message{
  background: -webkit-linear-gradient(purple, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Container{
  margin: 20px;
}

.Sidebar{
  position: fixed;
  padding: 10px;
  width: 200px;
  height: 95vh;
  border-radius: 7px;
  box-shadow: 0px 1px 5px 0px grey;
  float: left;
  margin:10px;
  margin-top: 0px;
  margin-left:5px;
  margin-bottom: 20px;
}

a{
  text-decoration: none;
  color: black;
}

.center-img{
  display: flex;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin-right: auto;
  margin-left: auto;
}
.Container{
  margin-left: 235px;
  margin-top: 15px;
}

.Tables{
  display: block;
  text-align: center;
  border-radius: 7px;
  padding: 20px;
  justify-content: center;
  width: 500px;
  height: 84vh;
  background-color: white;
  box-shadow: var(--shadow);
  overflow-y: scroll;
  overflow-x: hidden;
}

.Tables table{
  border-collapse: collapse;
}

.Tables th{
  background: -webkit-linear-gradient(purple, #00aeff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 400;
  font-size: 20px;
}

.Tables thead{
  background-color: white;
}
.Tables tr{
  height: 35px;
  border-width:0px;
}

.Tables tr:nth-child(even){
  background:aliceblue;
}

.Tables tr:hover{
  cursor: pointer;
  background-color: rgb(212, 222, 231);
}

.Alert-Box{
  position: relative;
  left: 350px;
  bottom: 450px;
  justify-content: center;
  z-index: 1;
  padding: 20px;
  width:200px;
  height: 150px;
  background-color: white;
  border-radius: 7px;
  box-shadow: 0px 1px 5px 0px grey;
  margin-right: auto;
  margin-left: auto;
  overflow-y: scroll;
  overflow-x: hidden;
}

.specialText{
  background: -webkit-linear-gradient(purple, #00aeff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.alert-sizes{
  min-width: 200px;
}


ion-alert{
  text-align: left;
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 7px;
  box-shadow: 0px 1px 5px 0px grey;
  background-color: white;
  word-break: normal;
  padding: 20px;
}


ion-alert input{
  margin: 20px;
}

ion-alert button{

  background-color: white;
  font-size: 15px;
  background: -webkit-linear-gradient(purple,#00aeff);
  -webkit-background-clip: text;
  -webkit-text-fill-color:transparent;
  background-color: white;
  border:none;
}

ion-alert button:hover{
  cursor: pointer;
}

.GeneralFlex{
  display: flex;
  flex-direction: row;
  width: 80vw;
}

.GeneralCards{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 200px;
  margin: 10px;
  padding: 20px;
  box-shadow: 0px 1px 5px 0px grey;
  border-radius: 7px;
  width: 210px;
  height: 100px;
  justify-content: center;
  align-items: center;
}

.TwoCards{
  margin: 10px;
  padding: 20px;
  width: 35vw;
  height: 60vh;
  box-shadow: var(--shadow);
  border-radius: var(--radius);
}

.FlexInfo{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: var(--shadow);
  padding: 10px;
  margin: 20px;
  border-radius: var(--radius);
}

.FlexInfo button{
  width:70px;
  margin-left: 5px;
  border-radius: 7px;
  border: 0px double grey;
  color: grey;
}
.FlexInfo button:hover{
  cursor: pointer;
  background: #cee6f1;
}

.FlexInfo button:active{
  background: #a4d4eb;
}

.Alert-Width{
  width: 100px;
}

.ion-modal{
  z-index: 0.0001;
  position: fixed;
  left: 200px;
  right: 100px;
  height: 70vh;
  width: 70vw;
  bottom: 15%;
  text-align: center;
  background-color: white;
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  padding: 20px;
  word-break: normal;
  overflow-x: hidden;
  overflow-y: scroll;
}

.ion-modal table{
  display:inline-table;
  border-collapse: collapse;
  text-align: left;
  border-radius: var(--radius);
  width: 98%;
}

.ion-modal th{
  background: -webkit-linear-gradient(purple, #00aeff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 400;
  font-size: 20px;
}

.ion-modal tr{
  height: 35px;
  border-width:0px;
}

.ion-modal tr:nth-child(even){
  background:aliceblue;
}

.CloseModal:hover{
  cursor: pointer;
  color: red;
  transition: 1s;
}


.Close-Btn:hover{
  color: red;
  transition: 0.5s;
  cursor: pointer;
}

